*{
 box-sizing: border-box;
}
body{
 background-color: #0d1521;
 font-family: tahoma;
 color: #989898;
}
#todo-table{
 position: relative;
 width: 95%;
 background-color: #090d13;
 margin: 20px auto 0;
 padding: 20px;
}
#todo-table form:after{
 margin: 0;
 content: '';
 display: block;
 clear: both;
}
input, button{
 display: block;
}
input[type="text"]{
 width: 100%;
 padding: 20px;
 background-color: #181c22;
 border: 0;
 font-size: 20px;
 color: #989898;
 text-align: center;
}
button{
 padding: 20px;
 width: 100%;
 background-color: #23282e;
 border: 0;
 color:#fff;
 cursor: pointer;
 font-size: 20px;
}
ul{
 list-style-type: none;
 padding: 0;
 margin: 0;
}
li{
 width: 100%;
 padding: 20px;
 font-family: arial;
 font-size: 20px;
 cursor: pointer;
 letter-spacing: 1px;
}
li:hover{
 text-decoration: line-through;
 background-color: rgba(0,0,0,0.2);
}
h1{
 background: url(/logo.png) no-repeat center;
 margin-bottom: 0;
 text-indent: -10000px;
}